body, html {
  height: 100%;
}
.radio-group .custom-control-input ~ .custom-control-label::before {
  content: none;
}

.radio-group .custom-radio .custom-control-input ~ .custom-control-label::after {
  content: none;
}

.radio-group .custom-control {
  padding-left: 0;
}

.radio-group .btn-group > .custom-control:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.radio-group .btn-group > .custom-control:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.btn-group .btn-secondary {
  border-color: #F7F7F7;
  background-color: #F7F7F7;
  color: #535353;
}


/* Calendario /*

/* Calendar date start and end */
.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
  background: rgb(17, 17, 17) !important; /* gris boton activado */
  border: 1px double rgb(17, 17, 17) !important; /* gris boton activado */
  color: rgb(255, 255, 255) !important; /* blanco */
}

/* Calendar in between start and end date */
.CalendarDay__selected_span {
    background: rgb(84, 91, 98) !important; /* gris boton activado */
    border: 1px double rgb(84, 91, 98) !important; /* gris boton activado */
    color: rgb(255, 255, 255) !important; /* blanco */
}

.CalendarDay__selected_span:active, .CalendarDay__selected_span:hover {
    background: rgb(170, 170, 170) !important;
    border: 1px double rgb(170, 170, 170) !important;
    color: rgb(255, 255, 255) !important; /* blanco */
}

/* Shortcut */
.DayPickerKeyboardShortcuts_show__bottomRight::before {
    border-top: 26px solid transparent;
    border-right: 33px solid #ffffff;
    bottom: 0;
    right: 0;
}

/* Delineado date */
.DateInput_input__focused {
    outline: 0;
    background: #ffffff;
    border: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #111111;
    border-left: 0;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #535353;
}

/* SLIDER */

.rc-slider-track {
  background-color: #545B62;
}

.rc-slider-dot-active {  
  border-color: #545B62;
  border: solid 2px #545B62;
}

.rc-slider-handle {
  background-color: #545B62;
  border-color: #545B62;
}

.rc-slider-handle:hover {
  border-color: #545B62;
}

.rc-slider-handle-active:active {
  border-color: #545B62;
}




.DateInput_input {
  text-align: center !important;
}

#modal_filtros .modal-content {
  background-color: transparent!important;
  border: none;

}



.form-check-input {
  position: relative !important;
  margin-top: 0rem;
  margin-left: 0rem;
  display: none;
}


.form-check /* custom-control + custom-checkbox */
{
  display: inline-block !important;
  z-index: 0 !important;
  margin: 4px 4px 4px -4px !important;
  padding: 4px;
}

.form-check-label::after { /* custom-control-label */
  content: none !important;
}

.btn-secondary.active{
    color: #fff !important;
    background-color: #565e64 !important;
    border-color: #51585e !important;
}

/* .tarjeta_map
{
  border:#BBC3C8 !important;
  background-color: #BBC3C8;
} */

 .tarjeta_arriba_map
{
  border-radius: .25rem .25rem 0 0 !important;
  background-color: #565e64 !important;
}



.DateRangePickerInput__withBorder
{
  border:1px solid #545B62 !important;
}

.tabla_int_row th
{
    font-weight: normal !important;
}



/* SIDEBAR COLORS*/

a.sidebar-link.nav-link
{
  background-color: transparent;
  border-radius: 0;
  color: #BBC3C8;
  font-size: 16px;
}

a.sidebar-link.nav-link:hover
{
  background-color: transparent;
  border-radius: 0;
  color: white;
}

a.sidebar-link.nav-link:focus
{
  background-color: transparent;
  border-radius: 0;
  color: white;
}

a.sidebar-link-movil.nav-link
{
  background-color: transparent;
  border-radius: 0;
  color: #BBC3C8;
  font-size: 16px;
}

a.sidebar-link-movil.nav-link:hover
{
  background-color: transparent;
  border-radius: 0;
  color: white;
}

a.sidebar-link-movil.nav-link:focus
{
  background-color: transparent;
  border-radius: 0;
  color: white;
}

/* 
.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
  background-color: transparent !important;
  border-radius: 0 !important;
  color: white !important;
} */

/* TITULOS TOP*/

.titulo-top span
{ 
  margin-top: -20px: 
}

.nav-tabs .nav-item {
  margin-bottom: -10px; !important;
}


/*Boton cerrar*/
.btn-close  {
  background-color: white;
  color: white;
  margin-left: 70px;
  filter: invert(1) grayscale(100%) brightness(200%);
  width: 20.47px;
  height: 20.47px;
}

/*Offcanvas */
.offcanvas-body {
  padding: 0;
  }

.offcanvas-header {
  position: absolute;
  margin: 35px 0 0 80px;
}

/* .sidebar-list .flex-column .nav a:hover
{
    background-color: transparent;
    color: red !important;
    border-radius: 0;
    margin: 0 0 0 0 !important;
}


/*Tabla ICU*/
table, th, td {
  border:1px solid black;
  text-align: center;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display:none;
}

/* Expand button hover effect */
.expand-button {
  background-color: white;
}

.expand-button:hover {
  background-color: #D9DBDD !important;
}

button:focus { outline: none !important; box-shadow: none !important; }

.filtros_small {
  position: absolute;
  right: 5%;
  top: 55%;
  z-index: 5;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.indicadores_small {
  position: absolute;
  right: 5%;
  top: 63%;
  z-index: 5;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}